/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[IMEI]
      ,[Price]
  FROM [MobileShop].[dbo].[Mobile]


  Select * from Mobile

  select * from mobile where IMEI = '1234' 